---
import Layout from '../layouts/Layout.astro';
---

<Layout>

	<section id="hero" class="flex flex-col justify-center items-center gap-14 py-24 px-64 bg-cadet">

		<h3 class="text-lg italic text-snow/50">Cosmic efficiency for modern businesses</h3>

		<h1 class="text-5xl font-bold text-snow text-center">Unlock your time and gain back your money with AI Solutions</h1>

		<h2 class="text-center text-snow text-xl px-20">Save Time, Reduce Costs and Focus on Growth. We streamline your operations with intelligent agents, workflows and tools that work 24/7.</h2>

		<div class="flex gap-4">
			<a href="" class="px-3 py-2 rounded-4xl bg-bondi">Schedule a Free Consultation</a>
			<a href="" class="px-3 py-2 rounded-4xl bg-snow/15 text-snow">Discover How We Can Help</a>
		</div>

		<div class="grid grid-cols-3 gap-4">
			<div class="p-4 rounded-4xl bg-snow/15 text-snow">
				<h4>Launch in Weeks</h4>
				<p class="text-snow/70">From audit to deployment fast, without disrupting your team.</p>
			</div>
			<div class="p-4 rounded-4xl bg-snow/15 text-snow">
				<h4>Save your time</h4>
				<p class="text-snow/70">Stop wasting your time on repetitive tasks and focus on what matters.</p>
			</div>
			<div class="p-4 rounded-4xl bg-snow/15 text-snow">
				<h4>Cut Costs</h4>
				<p class="text-snow/70">Reduce manual errors and operational overhead with robusts automations.</p>
			</div>
		</div>

	</section>

</Layout>
