<nav class="w-full h-16 bg-snow text-cadet flex justify-between items-center px-8">
  <div class="flex gap-4">
    <span class="h-8 w-8 bg-cadet rounded-full"></span>
    <h2 class="text-2xl">Neptune AI Automation</h2>
  </div>
  <div>
    <ul class="flex gap-4">
      <li class="cursor-pointer">Services</li>
      <li class="cursor-pointer">Results</li>
      <li class="cursor-pointer">Testemunials</li>
      <li class="cursor-pointer">Contact</li>
    </ul>
  </div>
</nav>
